*{
    background-color: rgb(135, 135, 224);
}
.al-center{
    text-align: center;
   
    
}
.heading{
    text-align: center;
}

input{
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    text-align: right;

    
}
.buttons{
    color: white;
    background-color: black;
    padding: 8px 12px;
    margin: 2px;
    font-size: medium;
    width: 40px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 2px 2px 0px rgb(40, 13, 242);
    
}

.buttons:hover{
    background-color:grey ;
}
#clear{
    font-size: large;
    width: 76px;
    background-color: red;
    color: blue;
}

#clear:hover{
    background-color: brown;
}
#equals{
    font-size: large;
    width: 100px;
    background-color: rgb(66, 91, 173);
}

#equals:hover{
    background-color: rgb(45, 72, 160);
}
#adds{
    width:90px ;
    background-color: grey;
    color: rgb(1, 14, 17);
}

#adds:hover{
    background-color: rgb(202, 134, 134);
}